@import './scss/variables.scss';

:root {
	line-height: 1.5;
	font-weight: 400;
  font-size: 14px;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	background-color: rgba(var(--background-primary-color), 1);
}

body * {
	color: rgba(var(--text-primary-color), 1);
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  @include title;
}
