:root {
	// light mode
	--background-primary-color--light: 211, 211, 211;
	--primary-color--light: 36, 36, 36;

	// dark mode
	--background-primary-color--dark: 36, 36, 36;
	--primary-color--dark: 211, 211, 211;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-primary-color: var(--background-primary-color--light);
		--primary-color: var(--primary-color--light);

	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-primary-color: var(--background-primary-color--dark);
		--primary-color: var(--primary-color--dark);

	}
}

[color-scheme='light'] {
	--background-primary-color: var(--background-primary-color--light);
	--primary-color: var(--primary-color--light);
}

[color-scheme='dark'] {
	--background-primary-color: var(--background-primary-color--dark);
	--primary-color: var(--primary-color--dark);
}
