:root {
	// light mode
	--primary-background-color--light: 211, 211, 211;
	--secondary-background-color--light: 255, 255, 255;
	--primary-color--light: 36, 36, 36;
	--primary-button-background--light: to left, #cec4ef, #f5c5cd, #ac8fe3;

	// dark mode
	--primary-background-color--dark: 0, 0, 0;
	--secondary-background-color--dark: 36, 36, 36;
	--primary-color--dark: 211, 211, 211;
	--primary-button-background--dark: to right, #a287d5, #e4b8bf, #8b6bc5;
}

@media (prefers-color-scheme: light) {
	:root {
		--primary-background-color: var(--primary-background-color--light);
		--secondary-background-color: var(--secondary-background-color--light);
		--primary-color: var(--primary-color--light);
		--primary-button-background: var(--primary-button-background--light);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-background-color: var(--primary-background-color--dark);
		--secondary-background-color: var(--secondary-background-color--dark);
		--primary-color: var(--primary-color--dark);
		--primary-button-background: var(--primary-button-background--dark);
	}
}

[color-scheme='light'] {
	--primary-background-color: var(--primary-background-color--light);
	--secondary-background-color: var(--secondary-background-color--light);
	--primary-color: var(--primary-color--light);
	--primary-button-background: var(--primary-button-background--light);
}

[color-scheme='dark'] {
	--primary-background-color: var(--primary-background-color--dark);
	--secondary-background-color: var(--secondary-background-color--dark);
	--primary-color: var(--primary-color--dark);
	--primary-button-background: var(--primary-button-background--dark);
}
